.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }



body {
  font-family: 'Red Hat Display', sans-serif;
  background: url('images/pattern-background-desktop.svg'), hsl(225, 100%, 98%);
  background-repeat: no-repeat;
  display: flex;
flex-direction: column;
justify-content: center;
min-height: 100vh;
    color: hsl(224, 23%, 55%);
}

.card-img-top {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.order-summary {
  border-radius: 1rem;
}

.cancel-container a {
  color: hsl(224, 23%, 55%);
  text-decoration: none;
  font-weight: 700;
}

@media (min-width: 1440px) {
  body {
    background-size: 100% auto;
  }
}


@media (min-width: 768px) {
  body {
    background-image: url('images/pattern-background-desktop.svg');

  }
}

.plan-container {
  padding-top: 1rem;
  width: 75%;
  background-color:hsl(225, 100%, 98%);
  border-radius: 10px;
}

.plan {
  font-weight: bold;
  margin-bottom: 0;
  color:  hsl(223, 47%, 23%);
}

.music-icon {
  padding-left: 1.5rem;
}

.plan-pricing {
  padding-left: 2.1rem;
}

h1 {
  color: hsl(223, 47%, 23%);
  font-weight: 900;
  font-size: 1.5rem;
}

.proceed {
  width: 75%;
  background: hsl(245, 75%, 52%);
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  border-radius: 10px;
  font-weight: 700;
}

@media (max-width: 576px){
  .plan-container {
    width: 100%;
  }

  .proceed {
    width: 100%;
  }
}

.intro {
  font-weight: 500;
}

.change-plan {
  margin-top: 10px;
}

.plan-container a {
  color: hsl(245, 75%, 52%);
  font-weight: 700;
}
